@{
    ViewData["Title"] = "Books";
}

@section Styles{
    <!-- Syles -->
    <link rel="stylesheet" href="~/css//public/books.css">
}

<!-- Books -->
<section class="section-books">
    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>

    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>

    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>

    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>

    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>

    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>

    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>

    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>

    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>

    <article class="book s-34-w">
        <a href="" class="book-img">
            <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D"
                alt="" class="img-f">
        </a>
        <div class="book-info">
            <h2>Title</h2>
            <div class="book-author">
                <a href="" class="book-author-avatar">
                    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww"
                        alt="" class="img-f">
                </a>
                <div>
                    <a href="">
                        <span>Author</span>
                    </a>
                    <a href="">
                        <span>Country</span>
                    </a>
                </div>
            </div>
            <div class="book-note">
                <span>4.7</span>
                <div class="book-stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="width: 70%;" class="book-stars-note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="book-buy">
                <span>$45.96</span>
                <button class="button-28">Add to Cart</button>
            </div>
        </div>
    </article>
</section>
