<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InkEchoes</title>

    <!-- Font Awesome Free v6.5.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- Reset -->
    <link rel="stylesheet" href="~/css/public/reset.css" asp-append-version="true">

    <!-- Utilities -->
    <link rel="stylesheet" href="~/css/public/utilities.css" asp-append-version="true">

    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <!-- Nav -->
        <nav>
            <ul class="nav">
                <div class="nav-items">
                <li>
                    <a asp-area="InkEchoes" asp-controller="Home" asp-action="Index" class="logo">IE</a>
                </li>
                <li>
                    <button id="nav-item-btn"><i class="fa-solid fa-bars"></i></button>
                </li>
                </div>
                <div id="nav-links" class="nav-links">
                <li>
                    <a asp-area="InkEchoes" asp-controller="Books" asp-action="Books">Books</a>
                </li>
                <li>
                    <a href="">Manage Books</a>
                </li>
                </div>
            </ul>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <h2>InkEchoes</h2>
        <div class="footer-social">
            <span>Social Networks</span>
            <ul>
                <li>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </li>
            </ul>
        </div>
        <span>&copy; 2024 - InkEchoes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
    </footer>

    <script src="~/js/public/nav.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
